* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*head*/
ul {
  float: right;
  list-style: none;
  display: flex;
}
li {
  float: left;
  padding: 15px;
  font-size: 20px;
  color: white;
}
nav {
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: black;
}
/* body,
section {
  padding-top: 5%;
} */
/* section {
  display: flex;
  justify-content: center;
} */
nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
  font-size: 1.1em;
  font-weight: 500;
  padding: 6px 20px;
  transition: 0.5s;
}
nav a:hover {
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  box-shadow: 2px 3px 10px rgba(255, 255, 255, 0.438);
}

.pyramid-loader {
  position: relative;
  width: 50px;
  height: 50px;
  display: block;
  transform-style: preserve-3d;
  transform: rotateX(-20deg);
  margin-right: 450px;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}

.pyramid-loader .wrapper .side {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform-origin: center top;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.pyramid-loader .wrapper .side1 {
  transform: rotateZ(-30deg) rotateY(90deg);
  background: conic-gradient(#2bdeac, #f028fd, #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .side2 {
  transform: rotateZ(30deg) rotateY(90deg);
  background: conic-gradient(#2f2585, #d8cce6, #f028fd, #2bdeac);
}

.pyramid-loader .wrapper .side3 {
  transform: rotateX(30deg);
  background: conic-gradient(#2f2585, #d8cce6, #f028fd, #2bdeac);
}

.pyramid-loader .wrapper .side4 {
  transform: rotateX(-30deg);
  background: conic-gradient(#2bdeac, #f028fd, #d8cce6, #2f2585);
}

.pyramid-loader .wrapper .shadow {
  width: 60px;
  height: 60px;
  background: #8b5ad5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transform: rotateX(90deg) translateZ(-40px);
  filter: blur(12px);
}

/* */
/* section1 */
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 10%;
}
.home-content {
  max-width: 400px;
}
.home-content h1 {
  font-size: 58px;
  font-weight: 700;
  color: #d45bd8;
  line-height: 1.2;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

.home-content h3 {
  font-size: 35px;
  font-weight: 700;
  color: #8a558b;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 20px;
  font-weight: 200;
  color: white;
  margin: 20px 0 40px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.3s;
}

/* .home-img {
  width: 410px;
  height: 410px;
} */
/* .image {
  max-width: 300px;
  object-fit: cover;
  position: absolute;
  top: 40px;
  left: 800px;
  transform: translateX(-50%);
} */
.img {
  position: absolute;
  right: 150px;
  top: 5em;
  width: 500px;
  height: 500px;
  background: transparent;
  transition: 3s;
}
.img:hover {
  background: black;
  opacity: 0.8;
}

.home-content button {
  width: 200px;
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  left: 100px;
}

.home-content button .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.home-content button:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.home-content button:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}
.home-content button:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

/* */
/* section 2 */
.about,
.skill {
  padding-top: 90px;
}
.about-img {
  width: 1800px;
  height: 400px;
  opacity: 0;
  animation: zommIn 1s ease forwards, floatImage 4s ease-in-out infinite;
  animation-delay: 2.1s, 1.3s;
}
.about-img .glowing-circle {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img .glowing-circle::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 320px;
  background: black;
  border-radius: 50%;
}

.images img {
  max-width: 360px;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.glowing-circle .images {
  position: relative;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
}
.glowing-circle span {
  position: absolute;
  width: 330px;
  height: 330px;
  background: linear-gradient(-45deg, #4568dc, #b06ab3);
  border-radius: 50%;
}
.glowing-circle span:nth-child(1) {
  filter: blur(10px);
}
.heed {
  text-align: center;
  font: 4.5rem sans-serif;
}
/* .about-content {
  margin-left: 160px;
} */
.about-content h2 {
  text-align: left;
  line-height: 1.2;
  font-size: 60px;
  font-weight: 700;
  color: #d45bd8;

  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 0.7s;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  font-size: 20px;
  font-weight: 200;
  color: white;
  margin: 20px 0 40px;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1.3s;
}
.about-content button {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  left: 100px;
}

.about-content button .text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.about-content button:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.about-content button:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.about-content button:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}
/**/

/* section 4*/

.card {
  position: relative;
  width: 190px;
  height: 254px;
  background-color: #000000;
  display: inline-block;
  padding: 15px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  margin: 40px;
  box-sizing: border-box;
  left: 100px;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 200px;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, #c967d4 0%, #73cbee 100%);
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, #c967d4 0%, #73cbee 100%);
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}
.card p:last-child {
  color: #d263df;
  font-weight: 600;
}

.card:hover::after {
  filter: blur(30px);
}

.card:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}
.card.content {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
}

.content h2 {
  font-size: 3em;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 10%;
}

/**/
h1 {
  color: white;
  text-align: center;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--second-bg-color);
  color: white;
}
.heading {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

/* section 5*/
.white {
  color: white;
  margin: 100px;
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  width: 670px;

  height: 400px;

  display: flex;

  justify-content: center;

  box-shadow: 12px 15px 15px #c380c5;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
}
.container form h1 {
  color: #fff;

  font-weight: 500;

  margin-top: 20px;

  width: 500px;

  text-align: center;
}

.container form input {
  width: 290px;

  height: 40px;

  padding-left: 10px;

  outline: none;

  border: none;

  font-size: 15px;

  margin-bottom: 10px;

  background: none;

  color: #fff;

  border-bottom: 2px solid #fff;
}
.container form input::placeholder {
  color: #ddd;
}

.container form #lastName,
.container form #mobile {
  margin-left: 20px;
}

.container form h4 {
  color: #fff;

  font-weight: 300;

  width: 600px;

  margin-top: 20px;
}

.container form textarea {
  background: none;
  border: none;

  border-bottom: 2px solid #fff;

  color: #fff;

  font-weight: 200;

  font-size: 15px;
  padding: 10px;

  outline: none;
  min-width: 600px;
  max-width: 600px;
  min-height: 80px;
  max-height: 80px;
}
textarea::-webkit-scrollbar {
  width: 1em;
}

textarea::-webkit-scrollbar-thumb {
  background-color: rgba(194, 194, 194, 0.713);
}

.container form #button {
  border: none;

  background: #fff;

  border-radius: 5px;

  margin-top: 20px;

  font-weight: 600;

  font-size: 20px;

  color: #333;

  width: 100px;

  padding: 0;

  margin-right: 500px;

  margin-bottom: 30px;

  transition: 0.3s;
}

.container form #button:hover {
  opacity: 0.7;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 9%;
  background: #0e0e0e;
  align-items: center;
  justify-content: space-between;
}
.footer-text {
  font-size: 0.8rem;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes zommIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes floartImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-24);
  }
  100% {
    transform: translateY(0);
  }
}

.botao {
  width: 130px;
  height: 50px;
  border-radius: 50px;
  border: none;
  padding: 5px 10px;
  background: rgb(47, 93, 197);
  background: linear-gradient(
    160deg,
    rgba(47, 93, 197, 1) 0%,
    rgba(46, 86, 194, 1) 5%,
    rgba(47, 93, 197, 1) 11%,
    rgba(59, 190, 230, 1) 57%,
    rgba(0, 212, 255, 1) 71%
  );
  color: #fff;
  font-family: Roboto, sans-serif;
  font-weight: 505;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
  transition: 0.5s linear;
}

.botao .mysvg {
  display: none;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*skills */
.skill {
  min-height: auto;
  padding-bottom: 7rem;
}
.skill .skills-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.skills-row.skills-column {
  flex: 1 1 40rem;
}

.skills-box .skills-content {
  position: relative;
  border: 0.2rem solid #ffffff;
  border-radius: 0.6rem;
  padding: 0.5rem 1.5rem;
  z-index: 1;
  overflow: hidden;
  width: 550%;
  margin-left: 20%;
  box-shadow: 10px 10px 10px #f59af7;
}

.skills-box .skills-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #0e0e0e;
  z-index: -1;
  transition: 0.5s;
}
.skills-box .skills-content:hover::before {
  width: 100%;
}

.skills-content .progress {
  padding: 1rem 0;
}
.skills-content .progress h3 {
  font-size: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.skills-content .progress h3 span {
  color: #ffffff;
}
.skills-content .progress .bar {
  height: 2rem;
  border-radius: 0.6rem;

  padding: 0.7rem;
  margin: 0.5rem 0;
}
.skills-content .progress .bar span {
  display: block;
  height: 100%;
  border-radius: 0.3rem;
  background: #bf67e7;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span {
  width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span {
  width: 80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span {
  width: 50%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span {
  width: 85%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar span {
  width: 40%;
}
.skill h1 {
  font-size: 3em;
  text-align: center;
  padding-bottom: 5%;
  /* padding-top: 10%; */
}
html {
  scroll-behavior: smooth;
}
/* Style par défaut pour les grands écrans */
.container {
  display: flex;
  flex-direction: row;
}

/* Style pour les écrans de taille moyenne */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
  }
}

/* Style pour les petits écrans */
@media (max-width: 480px) {
  .container {
      flex-direction: column;
      padding: 5px;
  }
}
